<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>한국어 단어 맞추기 게임</title>
    </head>
    <body>
        <h3>https://eungangku.pythonanywhere.com/ 주소 뒤에 단어를 콤마(,)로 구분해서 입력하고 접속해주세요.</h3>
        <h3>예시: <a href="https://eungangku.pythonanywhere.com/자전거를타다,밥을먹다,집에가다,즐겁다">https://eungangku.pythonanywhere.com/자전거를타다,밥을먹다,집에가다,즐겁다</a></h3>
        <br>
        <h3>페이지 새로고침시, 단어가 섞입니다.</h3>
    </body>
</html>
